<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Blog</display-name>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>net.blog.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WeiboServlet</servlet-name>
    <servlet-class>net.blog.servlets.WeiboServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DiaryServlet</servlet-name>
    <servlet-class>net.blog.servlets.DiaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userdo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeiboServlet</servlet-name>
    <url-pattern>/weibodo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiaryServlet</servlet-name>
    <url-pattern>/diarydo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>